.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: #33244D;
}

.meetUserVideo {
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    left: 1%;
    border: solid 5px #26193A ;
    border-radius: 20px;
}

.buttonContainers {
    position: absolute;
    left: 39%;
    margin-bottom: 10px;
    width: fit-content;
    bottom: 0;
    text-align: center;
    border: solid 1px #26193A;
    border-radius: 16px;
    padding: 9px;
    padding-inline: 15px;
    background-color: #26193A;

}

.buttonContainers svg {
    font-size: 3rem;
}

.conferenceView { 

    display: flex;
    padding: 10px;
    gap: 10px;
}

.videosContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: #26193A;
    border-radius: 20px;
    border: solid 3px #8A72A8;
    /* padding: 10px; */
    /* padding-inline: 18px; */
    
    
}

.conferenceView p{
    position: absolute;
    bottom: 10px;
    left: 20px;
    padding-inline: 10px;
    margin-top: 5px;
    align-self: flex-start;
    /* width: 20%; */
    margin-bottom: 5px;
    background-color:rgba(138, 114, 168, 0.2) ;
    border-radius: 5px;
    /* text-align: center; */
    color: white;
    font-weight: 500;
}
.chatRoom {
    position: absolute;
    height: 95vh;
    /* overflow-y: auto; */
    right: 15px;
    top: 20px;
    background: #8A72A8;
    border-radius: 12px;
    /* padding-left: 4px; */
    width: 30vw;
}
.msgData{
    border: solid 2px #8A72A8;
}

.chatContainer {
    position: relative;
    height: 100%;
}


.chattingArea {
    position: absolute;
    bottom: 0;
}