* {
  box-sizing: border-box;
}
/* Scrollbar track (background of the scrollbar) */
::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

/* Scrollbar thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #d97500;
  border-radius: 10px;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #b76f00;
}

/* Scrollbar track (optional) */
::-webkit-scrollbar-track {
  background-color: #1a1a1a; /* Dark background */
  border-radius: 10px;
}

.HeroSection{
  z-index: 1;
}
.meetingImg {
  position: relative;
  border-radius: 10px;
  box-shadow: 8px 8px 20px rgba(171, 27, 158, 0.3);
  border: solid 20px rgba(255, 255, 255, 0.2);
}
.meetingImg::before {
  content: "";
  position: absolute;
  inset: 0;
  /* border: 10px solid rgba(128, 90, 213); */
  border-radius: 16px;
  filter: blur(10px);
  pointer-events: none;
  z-index: 0;
}
.cta-glow{
  position: absolute;
  box-shadow: 0px 0px 1000px 180px rgba(171, 27, 158, 0.5);
  z-index: 0;
}
.img-glow{
  position: absolute;
  box-shadow: 0px 0px 800px 130px rgba(217, 117, 0, 0.5);
  z-index: 0;
}
.feature-glow{
   position: absolute;
  box-shadow: 0px 0px 800px 250px rgba(171, 27, 158, 0.5);
  z-index: 0;
}
.priceCards:hover{
  transform: scale(103%);
  cursor: pointer;
}
.pricingCards > :nth-child(2){
  transform: scale(111%);
}
.faq h1{
  color: #fef3c7;
  font-size: 36px;
  font-weight: 600;
  margin-top: 10px;
}
.faq{
  cursor: pointer;
}
.faq p{
  color: #e5e7eb;
  font-size: 18px;
  margin-top: 18px;
}
.Testimony{
  position: relative;
  z-index: 20;
}
.ceoImg{
  transition: transform 0.2s ease-in-out;
}
.ceoImg:hover{
  transform: scale(105%);
  cursor: pointer;
}
/* .Testimony::before{
  content: "";
  position: absolute;
  filter: blur(10px);
  z-index: 2;
  cursor: pointer;
  width: 1000px;
  height: 1000px;
  border: solid 3px black;
}  */

/* From Uiverse.io by zanina-yassine */
.form_container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px 40px 20px 40px;
  background-color: #ffffff;
  box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
    0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  font-family: "Inter", sans-serif;
}

.logo_container {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background: linear-gradient(
    180deg,
    rgba(248, 248, 248, 0) 50%,
    #f8f8f888 100%
  );
  border: 1px solid #f7f7f8;
  filter: drop-shadow(0px 0.5px 0.5px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  border-radius: 11px;
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #212121;
}

.subtitle {
  font-size: 0.725rem;
  max-width: 80%;
  text-align: center;
  line-height: 1.1rem;
  color: #8b8e98;
}

.input_container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon {
  width: 20px;
  position: absolute;
  z-index: 99;
  left: 12px;
  bottom: 9px;
}

.input_label {
  font-size: 0.75rem;
  color: #8b8e98;
  font-weight: 600;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.sign-in_btn {
  width: 100%;
  height: 40px;
  border: 0;
  background: #115dfc;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}

.sign-in_ggl {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #ffffff;
  border-radius: 7px;
  outline: none;
  color: #242424;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  cursor: pointer;
}

.sign-in_apl {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #212121;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  cursor: pointer;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #8b8e98;
}

.separator .line {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
}

.note {
  font-size: 0.75rem;
  color: #8b8e98;
  text-align: center;
  text-decoration: underline;
}

.homeComp {
  background: linear-gradient(135deg, #15054e, #513380);
}
.cards {
  transition: all;
  position: absolute;
  right: 290px;
  top: 50px;
  display: flex;
  border: solid 4px rgba(171, 27, 158, 0.5);
  background-color: rgba(171, 27, 158, 0.5);
  border-radius: 20px;
  padding: 20px;
  flex-direction: column;
  overflow-y: auto;
  max-height: 600px;
  gap: 15px;
}

.cards .blue {
  background-color: #513380;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: solid 2px #f472b6;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: 0.9em;
  margin-top: 5px;
}

.cards .card:hover {
  transform: scale(1.1, 1.2);
}

.cards:hover > .card:not(:hover) {
  /* filter: blur(2px); */
  /* transform: scale(0.9, 0.9); */
}
